.sections-column {
    display: flex;
}

.section {
    border: 1px;
    border-style: solid;
    border-color: #777788;
    margin: 15px;
}

.section-title {
    border-bottom: 1px solid #777788;
    background-color: black;
}

.section-title p {
    color: #FFCC00;
}

.section-title, .section-body {
    padding: 10px 15px;
}

.section p {
    margin: 0;
}

.section-body {
    height: 50%;
}

#section-tl {
    width: 66.66666666666666%;
}

#section-tr {
    width: 33.33333333333333%;
}

#section-bl, #section-br {
    width: 50%;
}

#body {
    margin: 0;
}
