th {
    border-bottom: 2px solid #DDDDDD;
    padding: 5px;
}

td {
    border-top: 1px solid #DDDDDD;
    padding: 5px;
}

.ft-odd:hover, .ft-even:hover {
    background-color: #474747;
}

.ft-even {
    background-color: #080B0D;
}

#forum-post-table {
    text-align: left;
    width: 100%;
    border-collapse: collapse;
}

.sections-column {
    display: flex;
}

.section {
    border: 1px;
    border-style: solid;
    border-color: #777788;
    margin: 15px;
}

.section-title {
    border-bottom: 1px solid #777788;
    background-color: black;
}

.section-title p {
    color: #FFCC00;
}

.section-title, .section-body {
    padding: 10px 15px;
}

.section p {
    margin: 0;
}

#section-tl {
    width: 66.66666666666666%;
}

#section-tr {
    width: 33.33333333333333%;
}

#section-bl, #section-br {
    width: 50%;
}

#body {
    margin: 0;
}
