#login {
    display: flex;
    justify-content: center;
    margin-top: 12px;
}

#login_title {
    text-align: center;
    color: #F60;
}

#login_form_container {
    display: flex;
    justify-content: center;
}

#error {
    color: #FFFF99;
}

#submit_btn {
    display: flex;
    justify-content: center;
    padding-top: 16px;
}

#password {
    margin-top: 4px;
}
