table {
    height: fit-content;
}

td {
    vertical-align: top;
}

#image {
    width: 75%;
    margin-right: 12px;
}

#image-container {
    display: flex;
    margin-left: 12px;
    margin-top: 20px;
}
