a {
    color: #F60;
    text-decoration: none;
}

a:hover {
    color: #FC0;
    text-decoration: underline;
}

h1, h2, #footer p {
    color: #ff6600;
}

h1 {
    font-weight: bold;
    font-size: 24pt;
}

#navibar #uppernav h1 a {
    color: #F60;
}

#navibar h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 6px;
}

#navibar #uppernav a {
    color: #CFDFFC;
    text-decoration: none;
}

#breadcrumb p {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 10pt;
}

.crumb {
    padding: 5px;
}

#crumb_none {
    color: #999999;
    text-decoration: none;
}

body {
    color: #ffff99;
    background-color: #1d1d1d;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    font-size: 15px;
}

#error {
    background: rgb(24,24,24);
}

#navibar {
    width: 100%;
    background-image: url("/static/Assets/background-navibar.png");
}

#uppernav {
    border-color: #777788;
    border-width: 0 0 1px;
    border-style: solid;
    display: inline-flex;
    width: 100%;
}

#title, #breadcrumb p, #body, #left-foot {
    margin-left: 8px;
}

#body {
    margin-bottom: 141px;
}

#left-foot {
    padding-left: 7px;
}

#left-foot h2 {
    margin-top: 0;
}

#left-foot-text * {
    margin: 0;
    font-size: 10.5pt;
    display: inline;
}

#breadcrumb {
    border-color: #777788;
    border-width: 0 0 1px;
    border-style: solid;
}

#subpages, #login_nav {
    display: inline-flex;
    align-items: center;
}

#login_nav {
    margin-left: auto;
    padding-right: 8px;
    flex-direction: column;
}

#login_nav a {
    margin-top: 19.5px;
}

#account_dropdown {
    display: none;
    position: absolute;
    right: 0;
    margin-top: 58.5px;
    background-color: #808080a3;
    padding-left: 8px;
    padding-right: 8px;
    border-bottom-left-radius: 16px;
}

#account_dropdown ul {
    list-style: none;
    padding: 0;
    padding-bottom: 4px;
}

#account_dropdown li {
    padding-bottom: 12px;
}

#login_nav:hover #account_dropdown {
    display: block;
}

#subpages a {
    padding: 15px;
}

#footer {
    border-color: #777788;
    border-width: 1px 0 0;
    border-style: solid;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background-image: url("/static/Assets/background-footer.png");
    display: inline-flex;
    height: 140px;
    align-items: center;
    z-index: -1; /* for when position: relative */
}

#right-foot {
    position: absolute;
    right: 0;
}

#logo {
    height: 128px;
}
