p {
    color: #ffff99;
}

a {
    color: #CFDFFC;
}

h1 {
    color: #ff6600;
    font-weight: bold;
}

body {
    background-color: #1d1d1d;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

#error {
    background: rgb(24,24,24);
}

#navibar {
    width: 100%;
}

#uppernav {
    border-color: #777788;
    border-width: 0 0 1px;
    border-style: solid;
    display: inline-flex;
    width: 100%;
}

#title {
    padding-right: 16px;
}

#title, #breadcrumb p {
    margin-left: 8px;
}

#breadcrumb {
    border-color: #777788;
    border-width: 0 0 1px;
    border-style: solid;
}

#subpages {
    display: inline-flex;
    align-items: center;
}

#subpages a {
    padding-right: 10px;
    padding-left: 10px;
}
