p {
    color: #ffff99;
}

a {
    color: #F60;
    text-decoration: none;
}

a:hover {
    color: #FC0;
    text-decoration: underline;
}

#navibar a {
    color: #CFDFFC;
}

h1 {
    color: #ff6600;
    font-weight: bold;
}

#navibar h1 a {
    color: #F60;
}

#navibar a {
    text-decoration: none;
}

body {
    background-color: #1d1d1d;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

#error {
    background: rgb(24,24,24);
}

#navibar {
    width: 100%;
    background-image: url("/static/Assets/background-navibar.png");
}

#uppernav {
    border-color: #777788;
    border-width: 0 0 1px;
    border-style: solid;
    display: inline-flex;
    width: 100%;
}

#title, #breadcrumb p, #body, #left-foot {
    margin-left: 8px;
}

#breadcrumb {
    border-color: #777788;
    border-width: 0 0 1px;
    border-style: solid;
}

#subpages {
    display: inline-flex;
    align-items: center;
}

#subpages a {
    padding: 15px;
}

#footer {
    border-color: #777788;
    border-width: 1px 0 0;
    border-style: solid;
    position: absolute;
    width: 100%;
    bottom: 0;
    background-image: url("/static/Assets/background-footer.png");
    display: inline-flex;
    height: 140px;
    align-items: center;
}

#right-foot {
    position: absolute;
    right: 0;
}

#logo {
    height: 128px;
}
