p {
    color: #ffff99;
}

a {
    color: #CFDFFC;
}

h1 {
    color: #ff6600;
    font-weight: bold;
}

body {
    background-color: #1d1d1d;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#error {
    background: rgb(24,24,24);
}

#navibar {
    width: 100%;
}

#uppernav {
    border-color: #777788;
    border-width: 0 0 1px;
    border-style: solid;
}

#breadcrumb {
    border-color: #777788;
    border-width: 0 0 1px;
    border-style: solid;
}
