<!DOCTYPE html>
<html>
    <head>
	{% include 'head.html' %}
        <title>Contact</title>
    </head>
    <body>
        {% include 'navigation_bar.html' %}
        <div id="body">
            <p>Email: <a href="mailto:mjandrus06@gmail.com">mjandrus06@gmail.com</a></p>
            <p>Student Email: <a href="mailto:andruj@rpi.edu">andruj@rpi.edu</a></p>
            <p>Phone: +1 716-427-9156</p>
            <p>GitHub: <a href="https://github.com/spatialflunky1">spatialflunky1</a></p>
        </div>
        {% include 'footer.html' %}
	</body>
</html>
