<!DOCTYPE html>
<html>
    <head>
        <link href="{{ url_for('static', filename='downloads.css') }}" rel="stylesheet" type="text/css">
        {% include 'head.html' %}
        {% include 'flask.html' %}
	<title>Download Page</title>
	<script src="{{  url_for('static', filename='downloads.js') }}"></script>
    </head>
    <body>
        {% include 'navigation_bar.html' %}
        <div id="body">
            <table id="download_table"></table>
        </div>
        {% include 'footer.html' %}
    </body>
</html>
