<div id="footer">
    <div id="left-foot">
        <h2>nebulith.org</h2>
        <div id="left-foot-text">
            <p>Site rewrite by Spatialflunky1 est. 2025 - <a href="https://github.com/spatialflunky1/nebulith.org">Source</a></p>
            <a href="/About">About</a>
            <br>
            <a href="/Contact">Contact</a>
        </div>
    </div>
    <div id="right-foot">
        <img id="logo" alt="Spatialflunky1 logo" src="{{ url_for('static', filename='Assets/logo.png') }}">
    </div>
</div>
