<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
<link rel="icon" href="{{ url_for('static', filename='Assets/favicon.png') }}">
<meta content="My Page :)" property="og:title" />
<meta content="Cool website for cool people only. (DO NOT LOAD PAGE IF NOT COOL!!!)" property="og:description" />
<meta content="https://nebulith.org" property="og:url" />
<meta content="#00CCFB" data-react-helmet="true" name="theme-color" />
<meta content="{{ url_for('static', filename='Assets/logo.png') }}" property="og:image" />
<meta content="{{ request.url }}" property="og:url" />
