<!DOCTYPE html>
<html>
    <head>
        {% include 'head.html' %}
        {% include 'flask.html' %}
        <title>Music Archive</title>
	<script src="{{ url_for('static', filename='music.js') }}?1"></script>
        <link href="{{ url_for('static', filename='music.css') }}" type="text/css" rel="stylesheet">
    </head>
    <body id="music">
        <div id="title"><h1><a href="/"><img class="logo" src="{{ url_for('static', filename='Assets/logo.png') }}"></a><em class="titleText">patialflunky1</em></h1></div>
        <div id="container">
            <div id="topnav">
                <h1><em><a id="music_back" href="/Music">Music Archive</a></em></h1>
            </div>
        </div>
        <table id="content"></table>
    </body>
</html>
