<!DOCTYPE html>
<html>
    <head>
        {% include 'head.html' %}
        {% include 'flask.html' %}
        <title>Music Archive</title>
	<script src="{{ url_for('static', filename='music.js') }}?1"></script>
        <link href="{{ url_for('static', filename='music.css') }}" type="text/css" rel="stylesheet">
    </head>
    <body id="music">
        {% include 'navigation_bar.html' %}
        <div id="body">
            <table id="content"></table>
        </div>
        {% include 'footer.html' %}
    </body>
</html>
