<!DOCTYPE html>
<html>
    <head>
        <title>Music Archive</title>
        {% include 'head.html' %}
        {% include 'flask.html' %}
	<script src="{{ url_for('static', filename='song.js') }}?5"></script>
        <link href="{{ url_for('static', filename='music.css') }}?1" type="text/css" rel="stylesheet">
        <link rel="preload" href="../../static/Assets/play_pressed.png" as="image">
        <link rel="preload" href="../../static/Assets/play_unpressed.png" as="image">
        <link rel="preload" href="../../static/Assets/pause_pressed.png" as="image">
        <link rel="preload" href="../../static/Assets/pause_unpressed.png" as="image">
        <link rel="preload" href="../../static/Assets/indicator_pressed.png" as="image">
        <link rel="preload" href="../../static/Assets/indicator_unpressed.png" as="image">
    </head>
    <body>
        <div id="title"><h1><a href="/"><img class="logo" src="{{ url_for('static', filename='Assets/logo.png') }}"></a><em class="titleText">patialflunky1</em></h1></div>
        <div id="container">
            <div id="topnav">
                <h1><em><a id="music_back" href="/Music">Music Archive</a></em></h1>
            </div>
        </div>
        <table id="songList">
            <tr><th>Song</th><th>Artist</th><th>Length</th></tr>
        </table>
        <div id="songBar">
            <input type="image" id="playButton" src="../static/Assets/play_unpressed.png">
            <p id="songTitle"></p>
            <p id="songPosition"></p>
            <p id="songLength"></p>
            <div id="positionBar">
                <hr id="positionBar2">
                <input type="image" id="indicator" src="../static/Assets/indicator_unpressed.png">
                <div class="slidecontainer">
                    <input type="range" min="0" max="100" value="100" class="slider" id="volume">
                </div>
            </div>
        </div>
    </body>
</html>
