<!DOCTYPE html>
<html>
    <head>
        {% include 'head.html' %}
        {% include 'flask.html' %}
        <title>Music Archive</title>
	<script src="{{ url_for('static', filename='song.js') }}"></script>
        <link href="{{ url_for('static', filename='music.css') }}" type="text/css" rel="stylesheet">
        <link rel="preload" href="{{ url_for('static', filename='Assets/play_unpressed.png') }}" as="image">
        <link rel="preload" href="{{ url_for('static', filename='Assets/indicator_unpressed.png') }}" as="image">
    </head>
    <body>
        {% include 'navigation_bar.html' %}
	<div id="body">
	    <table id="songList">
                <tr><th>Song</th><th>Artist</th><th>Length</th></tr>
            </table>
            <div id="songBar">
                <input type="image" id="playButton" src="{{ url_for('static', filename='Assets/play_unpressed.png') }}">
                <p id="songTitle"></p>
                <p id="songPosition"></p>
                <p id="songLength"></p>
                <div id="positionBar">
                    <hr id="positionBar2">
                    <input type="image" id="indicator" src="{{ url_for('static', filename='Assets/indicator_unpressed.png') }}">
                    <div class="slidecontainer">
                        <input type="range" min="0" max="100" value="100" class="slider" id="volume">
                    </div>
                </div>
            </div>
        </div>
        {% include 'footer.html' %}
    </body>
</html>
